.products_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product {
    width: 10rem;
    height: 15rem;
    border: black solid 1px;
    margin: 1rem;
    padding: 1rem;
}

.product_text {
    display: flex;
}

.card_right {
    margin-left: auto;
}

.edit_image {
    height: 8rem;
}

.product_image {
    height: 5rem;
}